:root{
    --background: #1E1C21;
    --pink: #FC1E8B;
    --purple: #7278C3;
    --blue: #00A8DC;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background);
    font-family: 'Titillium Web', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

.gradient{
    background: rgba(252,30,137,1);
    background: -moz-linear-gradient(left, rgba(252,30,137,1) 0%, rgba(114,119,195,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,30,137,1)), color-stop(100%, rgba(114,119,195,1)));
    background: -webkit-linear-gradient(left, rgba(252,30,137,1) 0%, rgba(114,119,195,1) 100%);
    background: -o-linear-gradient(left, rgba(252,30,137,1) 0%, rgba(114,119,195,1) 100%);
    background: -ms-linear-gradient(left, rgba(252,30,137,1) 0%, rgba(114,119,195,1) 100%);
    background: linear-gradient(to right, rgba(252,30,137,1) 0%, rgba(114,119,195,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc1e89', endColorstr='#7277c3', GradientType=1 );
}

.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}


header .container{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

header ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    flex-flow: wrap;
}

header nav{
    width: 60%;
}

header a{
    text-transform: uppercase;
}

header img{
    margin-right: 100px;
}


.partidas{
    text-align: center;
    width: 100%;
    min-height: 100px;
    background: rgba(161, 13, 142);
    background: -moz-linear-gradient(top,  rgba(161, 13, 142) 0%, rgba(16,15,17,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(161, 13, 142)), color-stop(100%, rgba(16,15,17,1)));
    background: -webkit-linear-gradient(top,  rgba(161, 13, 142) 0%, rgba(16,15,17,1) 100%);
    background: -o-linear-gradient(top, rgba(161, 13, 142) 0%, rgba(16,15,17,1) 100%);
    background: -ms-linear-gradient(top, rgba(161, 13, 142) 0%, rgba(16,15,17,1) 100%);
    background: linear-gradient(to bottom, rgba(161, 13, 142) 0%, rgba(16,15,17,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#422c5a', endColorstr='#100f11', GradientType=0 );
}

.partidas .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-flow: wrap;
}

.partida{
    padding: 0 0 10px 0;
}

.partida img{
    width: 40px;
    padding: 0 10px;
}

.partida h2{
    font-size: 14px;
    text-align: start;
    padding: 10px 0;
}

.partida div{
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.red{
    color: red;
}
.banner{
    width: 100%;
    height: 400px;
    background-image: url("../img/Imagens/meta_mundo.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ligas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.ligas img{
    height: 143px;
}
.ligas h4{
font-size: 45px;
text-transform: uppercase;
}

.ligas h3{
font-size: 90px;
text-transform: uppercase;
line-height: 40px;
}

.ligas div{
    margin-bottom: 35px;
}
.sobre_fundo{
    background-image: url("../img/Imagens/Teams/T6.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 500px;
    clip-path: polygon(100% 0, 100% 72%, 0 94%, 0 21%);
       
}
.sobre_fundo_filtro{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 500px;
    background-color: rgba(255, 64, 156, 0.418);
}
.sobre{
    position: relative;
}
.sobre img{
position: absolute;
z-index: 99;
width: 100%;
left: 300px;
max-width: 27%;

}
.texto_sobre{
    width: 40%;
    text-align: right;
   text-shadow: 0px 3px 3px #000;
   margin-right: 120px;

}
.texto_sobre h2{
    font-size: 30px;
}
.texto_sobre p{
    font-size: 15px;
}
.content{
    display: flex;
    justify-content: space-between;
  
    
}
.content h3{
    font-size: 25px;
}
.container h4{
    font-size: 20px;
    text-transform: uppercase;
    padding: 1em 0;
}

.content section{
    width: 60%;
}
.card{
    width: 100%;
    margin-bottom: 2em;
    box-shadow: 0px 3px 10px #000;
    display: flex;
    justify-content: flex-start;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(30,28,33,1) 30%, rgba(30,28,33,1) 100%);
    
    
}
.card img{
    width: 220px;
    height: auto;
    object-fit: cover;
} 
.card div{
    padding: 2em;
}
.card div:hover{
    background-color: #363633;
    height: 100%;
    transition-duration: 0.5s;
}
article{
    width: 300px;
    
}
.resultados_box{
    box-shadow: 0px 3px 10px #000;

}
.resultado{
    text-align: center;
    margin-bottom: 1.4em;
}

.resultado img{
    width: 50px;
}
.numeros{
    text-align: center;
    font-size: 20px;
    
}
footer{
    background-color: black;
    box-shadow: 0px -6px 10px #000;
    
}

